version: "3.8"
services:
  db:
    image: postgres:15
    environment:
        POSTGRES_PASSWORD: postgres
        POSTGRES_USER: postgres
        POSTGRES_DB: kasparro
    ports:
        - "5435:5432"

  app:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
